* {
    margin:0;
    padding:0;
}

.left {
    font-family: 'Kaisei HarunoUmi', serif;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    color: #1B1C1E;
   
    margin-left: 140px;
}

.right a {
    text-decoration: none;
    color: #070000;
    font-family: 'Montserrat', sans-serif;
   
}

.right {
   
    margin-right: 124px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:59px;
    background-color: #FAFAFA;
    
}

.right a {
    margin-left: 60px;
}
.dropbtn {
    background-color: #FAFAFA;
       font-size: 16px;
       border: none;
   margin-top:0px;
   font-family: 'Montserrat', sans-serif;
   
     }
   
     .dropdown {
       position: relative;
       display: inline-block;
     }
   
     .dropdown-content {
       display: none;
       position: absolute;
       background-color: #f1f1f1;
       min-width: 400px;
   
       z-index: 1;
     }
     .dropdown-content a {
       color: black;
       padding: 12px ;
       text-decoration: none;
       display: block;
     }
   
     .dropdown-content a:hover {background-color: lavender }
     .dropdown:hover .dropdown-content {display: block;}
   

header img {
    width: 20px;
    margin-right:140px;
}

main {
    margin-left: 140px;
    margin-right: 140px;

}

body {
    background-color: #FAFAFA;
}

.headline {
    position: absolute;
    margin-top: 50px;
}
.headline h1{
    text-shadow:0px 0px 40px #357a09;
    font-size: 50px;
    color:#1B1C1E
}

#summary {
    position: absolute;
    top: 180px;
    font-size: 25px;
    color: #1B1C1E;
    font-family: "Inter", sans-serif;
}

#smalltext {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    line-height: 20px;
color: #838383;
position: absolute;
top: 270px;
}

#line {
    border-bottom: #5b5e64 solid 1px;
   position: relative;
    top: 200px;
    height: 120px;
}

#everything {
    display: flex;
    flex-direction: row;
}
#everything2 {
    display: flex;
    flex-direction: row;
}
.recipes {
   height: 650px;
   width: 420px;
   overflow: auto;
   position: relative;
   top:220px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    position: relative;

}


.recipes > .toast > img{
    object-fit: cover;
    position:absolute;
    height: 100%;
    width: 100%;

}
.text {
    margin-left:80px;
}
.text > .name > h4 {
position:absolute;
top: 550px;
font-family: 'Inter', sans-serif;
font-size: 35px;
}

.ingredients {
    display: flex;
    flex-direction: row;
    margin-top: 450px;
    font-size: 20px;
    font-family: 'inter', sans-serif;
   
}

.list {
margin-left: 60px;
font-size: 17px;
}



.instructions {
font-family: 'inter', sans-serif;
font-size: 20px;
margin-top: 40px;
margin-bottom: 20px;
}

.instext {
    top:820px;
line-height: 23px;
font-family: 'inter', sans-serif;
font-size: 17px;
}

#everything2 {
    display: flex;
    flex-direction: row;
}
.recipes2 {
   height: 630px;
   width: 550px;
   overflow: auto;
   position: relative;
   top:130px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    position: relative;

}


.recipes2 > .pasta > img{
    object-fit: cover;
    position:absolute;
    height: 100%;
    width: 100%;

}
.text2 {
    margin-left:80px;
}
.text2 > .name2 > h4 {
position:absolute;
top: 1170px;
font-family: 'Inter', sans-serif;
font-size: 35px;
}

.ingredients2 {
    display: flex;
    flex-direction: row;
    margin-top: 350px;
    font-size: 20px;
    font-family: 'inter', sans-serif;
   
}

.list2 {
margin-left: 60px;
font-size: 17px;
}



.instructions2 {
font-family: 'inter', sans-serif;
font-size: 20px;
margin-top: 40px;
margin-bottom: 20px;
}

.instext2 {
    top:820px;
line-height: 23px;
font-family: 'inter', sans-serif;
font-size: 17px;
}

.share {
    width: 100%;
    border-bottom: 1px #1B1C1E solid;
    border-top: 1px #1B1C1E solid;
height: 200px;
margin-top: 200px;
}

.share p {
    font-family: 'Inter', sans-serif;
    color: #838383;
    font-size: 20px;
    font-weight:regular ;  
    margin-top: 40px;
}

.some img{
    width: 50px;
    margin-top: 30px;
    margin-right: 20px;
}

.footer {
    height: 200px;
    background-color:#E5E5E5;
    bottom: 0;
    width: 100%;
    position: relative;
    top:100px;
    }
 
.links li a {
    text-decoration: none;
    color: black;

    position:relative;
    top:50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
   margin-left: 140px;
}

.icons img {
    width: 50px;
margin-left:20px;
}

.icons {
position: absolute;
top:50px;
margin-left: 1150px;
}


.arrow img {
margin-top: 600px;
position:absolute;
width: 30px;
margin-left: 1130px;

}

