* {
    margin:0;
    padding:0;
}

.left {
    font-family: 'Kaisei HarunoUmi', serif;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    color: #1B1C1E;
   
    margin-left: 140px;
}

.right a {
    text-decoration: none;
    color: #070000;
    font-family: 'Montserrat', sans-serif;
   
}

.right {
   
    margin-right: 124px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:59px;
    background-color: #FAFAFA;
    
}

.right a {
    margin-left: 60px;
}

.dropbtn {
    background-color: #FAFAFA;
       font-size: 16px;
       border: none;
   margin-top:0px;
   font-family: 'Montserrat', sans-serif;
   
     }
   
     .dropdown {
       position: relative;
       display: inline-block;
     }
   
     .dropdown-content {
       display: none;
       position: absolute;
       background-color: #f1f1f1;
       min-width: 400px;
   
       z-index: 1;
     }
     .dropdown-content a {
       color: black;
       padding: 12px ;
       text-decoration: none;
       display: block;
     }
   
     .dropdown-content a:hover {background-color: lavender }
     .dropdown:hover .dropdown-content {display: block;}

header img {
    width: 20px;
    margin-right:140px;
}

main {
    margin-left: 140px;
    margin-right: 140px;

}

body {
    background-color: #FAFAFA;
}
.headline {
    position: absolute;
    margin-top: 50px;
}
.headline h1{
    text-shadow:0px 0px 50px #114c86;
    font-size: 50px;
    color:#1B1C1E
}

#summary {
    position: absolute;
    top: 180px;
    font-size: 25px;
    color: #1B1C1E;
    font-family: "Inter", sans-serif;
}

#smalltext {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    line-height: 20px;
color: #838383;
position: absolute;
top: 270px;
}

#line {
    border-bottom: #1B1C1E solid 2px;
   position: relative;
    top: 200px;
    height: 120px;
    display: flex;
    justify-content:flex-end;
    align-content: space-between;
}

#line img {
margin-left: 100px;
margin-right: 100px;
}

#everything {
    display: flex;
    flex-direction: row;
    width: 100%%;
    justify-content: center;
}

.section {
    width: 80%;
}
.image {
    height: 400px;
    width: 300px;
    overflow: auto;
    position: relative;
    top:300px;
     border-radius: 30px;
 box-shadow:5px 5px 30px #b9bbc2;

}

.plants >img{
    object-fit: cover;
    position:absolute;
width: 100%;
height: 100%;
}

.text {
    margin-left: 400px;
   margin-top: 10px; 
    border-bottom: solid #1B1C1E 2px;
    padding-bottom: 20px;
}

.text h1{
    font-family: "Inter", sans-serif;
    font-size: 25px;
}
.text p{
    font-family: "Inter", sans-serif;
    font-size: 17px;
    margin-top: 20px;
    line-height: 23px;
}



.image2 {
    height: 400px;
    width: 300px;
    overflow: auto;
    position: relative;
    top: 300px;
     border-radius: 30px;
     
     left: 620px;
 box-shadow:-5px -5px 30px #b9bbc2;
}

.kettle >img{
    object-fit: cover;
    position:absolute;
width: 100%;
height: 100%;
}

.text2 {
   margin-top: 390px;
   text-align: left;
   position: absolute ;
   border-bottom: 2px solid #1B1C1E;
   padding-bottom: 20px;
}

.text2 h1{
    font-family: "Inter", sans-serif;
    font-size: 25px;
}
.text2 p{
    font-family: "Inter", sans-serif;
    font-size: 17px;
    margin-top: 20px;
}

.image3 {
    height: 400px;
    width: 300px;
    overflow: auto;
    position: relative;
    top:400px;
     border-radius: 30px;
 box-shadow:5px 5px 30px #b9bbc2;

}

.pictures >img{
    object-fit: cover;
    position:absolute;
width: 100%;
height: 100%;
}

.text3 {
    margin-left: 400px;
    margin-top: 110px;
    border-bottom: solid #1B1C1E 2px;
    padding-bottom: 20px;
}

.text3 h1{
    font-family: "Inter", sans-serif;
    font-size: 25px;
}
.text3 p{
    font-family: "Inter", sans-serif;
    font-size: 17px;
    margin-top: 20px;
    line-height: 23px;
}


.share {
    width: 100%;
    border-bottom: 1px #1B1C1E solid;
    border-top: 1px #1B1C1E solid;
height: 200px;
margin-top: 290px;
}

.share p {
    font-family: 'Inter', sans-serif;
    color: #838383;
    font-size: 20px;
    font-weight:regular ;  
    margin-top: 40px;
}

.some img{
    width: 50px;
    margin-top: 30px;
    margin-right: 20px;
}

.footer {
    height: 200px;
    background-color:#E5E5E5;
    bottom: 0;
    width: 100%;
    position: absolute;
    top: 2300px;
    }
 
.links li a {
    text-decoration: none;
    color: black;

    position:relative;
    top:50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
   margin-left: 140px;
}

.icons img {
    width: 50px;
margin-left:20px;
}

.icons {
position: absolute;
top:50px;
margin-left: 1150px;
}


.arrow img {
margin-top: 600px;
position:absolute;
width: 30px;
margin-left: 1130px;

}

